<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style1.css">
        <link rel="stylesheet" href="../static/css/text.css">
       
    </head>
    <body>
        <div class="header">
            <h3>
               this is a title box of this project 
              </h3>
              
         </div>
         <div class="container">
            <div>
               <h3>
                The messege is sent from 
               </h3>
               </div>
            
          
          </div>
    </body>
</html>