<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="../static/css/style1.css">
      <link rel="stylesheet" href="../static/css/text.css">
   </head>
   <body>
      
           <div class="nav">
            <ul class="nav">
               <li class="nav" ><a  class="na" href="{{ url_for('home')}}" >Home</a></li>
               <li class="nav"><a  class="nav" href="{{ url_for('text')}}" >PREDICTION_PAGE</a></li>
               <li class="nav"><a class="na" href="{{ url_for('about')}}" >DEVELOPERS</a></li>
               </ul>
        </div>
      
      <div class="container">
         <div>
            <h3>
             This Machine Learning Project 
            </h3>
            </div>
         <div class="form">
             
		<form action="{{ url_for('predict')}}" method="POST">
         <p>Enter Your Message Here</p>
         <!-- <input type="text" name="comment"/> -->
         <textarea class="txt" name="message" rows="6" cols="50" maxlength="2000" required></textarea>
         <br/>
   
         <input type="submit" class="sub" value="predict">
         
      </form>
             
            </div>
         <div class="hint">
            <h5>DO YOU HAVE TEXT IN PICTURES:<a href="{{ url_for('picture')}}" ><button class="picbt">CLICK HERE</button></a></h5>
            <BR>
           
           </div>
       
       </div>
      
      
   </body>
</html>